.container{
    width:400px;
    margin:1em auto;
    display: block;
    background:#ececec;
    

}
.container h2{
    margin: 0px 0px;
}
.history p{
    display: flex;
    justify-content: space-between;
}
.delete-btn {
    cursor: pointer;
    background-color: #145649;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    top: 50%;
    float: right;
    transform: translate(70%, -0%);
    transition: opacity 0.3s ease;
  }